@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color:mistyrose;

    min-height: 100%;
}

/*-------------- Navbar starts here ------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
}
.navbar span {
    color: rgb(23, 177, 23);
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    user-select: none;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
}
.navbar-links ul{
    display: flex;
    margin-right: 2em;
}
.navbar-links ul li{
    list-style: none;
}
.navbar-links ul li:after{
    content: '';
    width: 0%;
    height: 5px;
    background: rgb(23, 177, 23);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navbar-links ul li:hover:after{
    width: 100%;
}
.navbar-links ul li a{
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    display: block;
    font-weight: 500;
}
.navbar-links ul li a:hover{
    background-color: #fff;
    color: #000;
}
.hamburger-button{
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-button .bar{
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 20px;
}

/*----------------- News Section starts here ----------------------*/
.main-container {
    margin: 5rem 2rem 0rem 2rem;
}
.news-sub-title {
    position: relative;
}
.sub-title {
    font-size: 1.4rem;
    line-height: 0;
}
.sub-title {
    margin: 1rem 0;
}
.news-list-grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 1rem;
}
.card {
    background-color:#ddd;
    border: 1px solid black;
    padding: 0.8rem;
    box-shadow: 4px 4px 10px rgba(1, 1, 1, 0.7);
    border-radius: 3px;
}
.card-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
}
.card-6 {
    grid-row-start: 5;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
}
.card-14 {
    grid-row-start: 12;
    grid-row-end: 14;
    display: flex;
    flex-direction: column;
}
.card-1 img, .card-6 img, .card-14 img {
    width: 20rem;
    min-width: 20rem;
}
.card-1 h5, .card-6 h5, .card-14 h5{
    margin-top: 0.6rem;
}
.card-2, .card-3, .card-4, .card-5, .card-7, .card-8, .card-9, .card-10, .card-11, .card-12, .card-13, .card-15, .card-16, .card-17, .card-18, .card-19, .card-20 {
    display: flex;
}
.card-2 h5, .card-3 h5, .card-4 h5, .card-5 h5, .card-7 h5, .card-8 h5, .card-9 h5, .card-10 h5, .card-11 h5, .card-12 h5, .card-13 h5, .card-15 h5, .card-16 h5, .card-17 h5, .card-18 h5, .card-19 h5, .card-20 h5{
    margin-left: 0.8rem;
}
.card-2 img, .card-3 img, .card-7 img, .card-8 img, .card-15 img, .card-16 img{
    width: 15rem;
    min-width: 15rem;
}
.card-4 img, .card-5 img, .card-9 img, .card-10 img, .card-11 img, .card-12 img, .card-13 img, .card-17 img, .card-18 img, .card-19 img, .card-20 img {
    width: 12rem;
    min-width: 12rem;
}
.card-4, .card-5, .card-9, .card-10, .card-11, .card-12, .card-13, .card-17, .card-18, .card-19, .card-20 {
    grid-column-start: 1;
    grid-column-end: 3;
}
h5 {
    font-size: 1.5rem;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.description {
    font-size: 0.9rem;
    margin-top: 0.6rem;
    color: #444;
}
.source {
    font-size: 0.7rem;
    background-color: rgb(23, 177, 23);
    color: #fff;
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    user-select: none;
}
.text-danger{
    font-size: 2rem;
    color: red;
}


/*-------------- footer starts here ------------------------*/
footer{
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
footer h5{
    font-size: 1rem;
    color: #999;
}
footer h5 span{
    font-size: 1rem;
    color: lightskyblue;
}
footer h5 span:hover{
    font-size: 1.1rem;
    color: white;
}
footer a i{
    color: lightskyblue;
    font-size: 1.3rem;
}
footer a i:hover{
    transform: scale(1.2);
    color: white;
}


/*-------------- Responsiveness ------------------------*/
@media screen and (max-width:1360px) {
    .navbar-links ul li a{
        padding: 1em;
    }
    h5 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1160px) {
    .navbar-links ul li a{
        padding: 0.8em;
    }
    h5 {
        font-size: 1.2rem;
    }
    .description {
        font-size: 0.85rem;
        margin-top: 0.4rem;
    }
}

@media screen and (max-width:1000px) {
    .hamburger-button{
        display: flex;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }
    .logo{
        margin: 0.6rem 0.6rem 0.6rem 1.5rem;
    }
    .navbar-links{
        display: none;
        width: 100%;
        user-select: none;
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul li{
        text-align: center;
        user-select: none;
    }
    .navbar-links ul li a{
        padding: 0.7rem 0rem;
    }
     
    .news-list-grid{
        grid-template-columns: 1fr;
    }
    .card {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .card-1, .card-6, .card-14 {
        flex-direction: row;
    }
    .card img {
        width: 15rem;
        min-width: 15rem;
    }
    .card-1 h5, .card-6 h5, .card-14 h5{
        margin-left: 0.8rem;
    }
}

@media screen and (max-width:600px) {
    .logo{
        font-size: 1.3rem;
        margin: 0.6rem 1rem;
    }
    .hamburger-button{
        top: 0.8rem;
        right: 0.8rem;
        height: 18px;
        width: 25px;
    }
    .hamburger-button .bar{
        height: 2px;
    }
    .card {
        display: block;
    }
    .card img {
        width: 18rem;
    }
    .main-container{
        margin: 4rem 1rem 0 1rem;
    }
    footer h5{
        font-size: 0.7rem;
    }
    footer h5 span{
        font-size: 0.7rem;
    }
    footer a i{
        font-size: 1rem;
    }
}